.profile__pencil {
    padding: 7px;
    border: 1px solid #FFFFFF;
    max-width: 10px;
    margin: 15px 0 0 0;
}

.profile__pencil:hover {
    cursor: pointer;
    opacity: 60%;
    transition: opacity linear 2s;
}

@media screen and (max-width: 820px) {
    .profile__pencil {
        margin: 9px 0 0 0;
    }
}

@media screen and (max-width: 320px) {
    .profile__pencil {
        padding: 4.25px;
        max-width: 7.5px;
        margin: 8px 0 0 0;
    }
}
