.popup__close-ico {
    width: 40px;
    align-self: flex-end;
}

.popup__close-ico:hover {
    opacity: 60%;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .popup__close-ico {
        width: 26px;
    }
}
